service: aws-kotlin-jvm-maven

provider:
  name: aws
  runtime: java8
  region: eu-central-1

package:
  artifact: target/ktor-server-lambda-sample-0.0.1-aws.jar

functions:
  orderApi:
    handler: com.mercateo.ktor.server.lambda.LambdaAdapter::handle
    timeout: 30
    memorySize: 3008
    events:
      - http:
          path: /orders
          method: get
      - http:
          path: /orders/{proxy+}
          method: get
      - http:
          path: /orders
          method: post
      - http:
          path: /orders/{proxy+}
          method: delete

  userApi:
    handler: com.mercateo.ktor.server.lambda.LambdaAdapter::handle
    timeout: 30
    memorySize: 3008
    events:
      - http:
          path: /users
          method: get
