# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/openjdk:8-jdk
  environment:
    MAVEN_REPO: "~/.m2"
    MVN_CMD: "mvn -B --settings=.settings.xml"

jobs:
  build:
    <<: *defaults
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Installing module dependencies
          command: $MVN_CMD clean install -DskipTests

      - run:
          name: Going offline...
          command: $MVN_CMD dependency:resolve-plugins dependency:go-offline

      - save_cache:
          paths:
            - $MAVEN_REPO
          key: v1-dependencies-{{ checksum "pom.xml" }}

  verify:
    <<: *defaults
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: Running ktlint
          command: $MVN_CMD ktlint:check

      - run:
          name: Running tests
          command: $MVN_CMD verify

  deploy:
    <<: *defaults
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Deploy Master to Maven Central
          command: |
            echo $GPG_SECRET_BASE64 | base64 --decode | gpg --import --no-tty --batch --yes
            echo $GPG_OWNERTRUST_BASE64 | base64 --decode | gpg --import-ownertrust --no-tty --batch --yes
            $MVN_CMD deploy -Poss.release-sign-artifacts \
                -Dgpg.executable=gpg \
                -Dgpg.passphrase=$GPG_PASSPHRASE \
                -pl='!ktor-server-lambda-sample'

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - verify:
          requires:
            - build
      - deploy:
          requires:
            - verify
          filters:
            branches:
              only: master
